@page
@model RazorPagesEmployeeCars.Pages.Cars.DetailsModel
@{
    ViewData["Title"] = "Car Details";
}
<h1>Car Details</h1>

<div>
    <h4>@Model.Car.Make @Model.Car.Model</h4>
    <p>Year: @Model.Car.Year</p>
    <p>License Plate: @Model.Car.LicensePlate</p>
    <p>Employee: @Model.Car.Employee?.FirstName @Model.Car.Employee?.LastName</p>
</div>

<p>
    <a asp-page="Edit" asp-route-id="@Model.Car.Id">Edit</a> |
    <a asp-page="Index">Back to List</a>
</p>
